*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: lightblue;

}

.header{
    background-color: blue;
    color: aliceblue;
    padding: 15px;
    text-align: center;
}
.layout{
    display: grid;
    grid-template-columns: 220px 1fr ;
    grid-template-rows: auto;
    min-height: 100vh;
}

.menu{
    background-color: cornflowerblue;
    padding: 20px;
}

.menu ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu li{
    color: white;
    cursor: pointer;
}

.contenido{
    padding: 20px;
}

.tarjetas{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.card{
    background-color: white;
    padding: 30px;
    flex: 1;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

@media (max-width: 768px){
    .layout{
        grid-template-columns: 1fr;
    }

    .menu{
        display: none;
    }

    .tarjetas{
        flex-direction: column;
    }
}